html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Averia Serif Libre", serif;
}

form {
  width: 400px;
  display: block;
  margin: auto;
}

.wrapper {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-color);
  background: var(--theme-body-bg);
  background-size: 100% 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  text-shadow: black 1px 1px 2px;
}

.header > * {
  white-space: nowrap;
  text-align: center;
  backdrop-filter: blur(5px);
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .header > * {
    width: 100%;
  }
}

.header-link,
.table-body__data-link {
  text-decoration: none;
  color: var(--theme-color);
}

.header-link:hover,
.table-body__data-link:hover {
  color: var(--grey);
}

.deriver {
  margin: 0 2% 0 2%;
}

.hidden {
  display: none;
}

.main {
  padding: 7% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin: 0;
}

h3{
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.description-layout {
  display: flex;
  align-items: center;
  min-height: 50vh;
  justify-content: space-evenly;
}

.description {
  text-align: justify;
  max-width: 800px;
  margin: 0 1em;
}

@media (max-width: 700px)  {
  .left-character-wrapper, .right-character-wrapper {
    display: none;
  }
  .leaderboard-table {
    width: auto!important;
  }
}

.right-character-wrapper, .left-character-wrapper {
  width: 15%;
  max-width: 360px;
  filter: drop-shadow(2px 2px 4px #00000088);
}

.left-character, .right-character {
  width: 100%;
}

.input {
  padding: 3% 0;
  width: 100%;
}

.input-decoration {
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--whiteinput);
  border: 1px solid var(--grey);
  text-align: center;
  outline: none;
  margin-top: 3px;
  color: var(--theme-color)
}

.input-focus {
  border: 1px solid var(--white);
  opacity: 70%;
}

.input input:invalid,
.input.input-invalid input {
  background-color: pink;
  border-color: red;
  color: darkred;
}

.input.input-invalid label {
  color: pink;
}

.label {
  color: var(--grey);
  height: 18px;
}

.button {
  background-color: var(--white);
  min-width: 30%;
  margin: 1% auto 3% auto;
  padding: 0 15px;
  height: 50px;
  opacity: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
}

.button:disabled,
.button:disabled:hover {
  opacity: 30%;
}

.button:hover {
  opacity: 100%;
}

.button-title {
  margin: 0 auto;
  color: black;
  opacity: 100%;
}

.submit-button {
  background-color: var(--white);
  width: 50%;
  margin: 8% auto 3% auto;
  height: 50px;
  opacity: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-color);
  justify-content: center;
  color: black;
}

.submit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.sign-link {
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.user-search-wrapper {
  width: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-icon {
  width: 50px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  margin-left: -50px;
  margin-top: 22px;
  background-color: transparent;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--theme-color);
}

.search-icon:hover {
  background-color: var(--whiteinput);
}

.userlist {
  overflow-y: scroll;
  max-height: 200px;
  width: 500px;
  padding: 0;
  list-style-type: none;
}

.userlist-item {
  height: 30px;
  padding: 10px 10px 3px 10px;
  border-radius: 10px;
}

.userlist-item:hover {
  background-color: var(--whiteinput);
  cursor:pointer;
}

.table-header {}

.table-body {}

.table-body__row {}

.table-body__data-text {
  font-size: 10px;
}

.table-head__row {
  width: 100%;
  background: var(--whiteheader);
  height: 40px;
  font-weight: 700;
}

.table-header__cell {
  border-radius: 5px;
}

.table-body__data {
  padding-left: 10px;
}

.table-body__data-heading {
  font-size: 20px;
  margin: 0;
}

.forum {
  width: 100%;
}

.icon {
  padding: 0 10px;
}

.forum-table {
  border-radius: 10px;
  /* width: 100%; */
  min-width: 600px;
  border: 1px solid var(--white);
  margin: 20px 0 40px 0;
  background-color: #00000044;
}

.messages {
  text-align: center;
}

.theme {
  border-bottom: 1px solid var(--white);
}

.theme-title {
  text-align: left;
}

.start-link{
  margin: 50px auto;
  display: block;
  padding: 20px;
  width: fit-content;
  font-size: 50px;
  color: var(--theme-color);
  text-decoration: auto;
  border: 3px solid;
  border-radius: 25px;
}

.start-link:focus {
  transform: translate(0, 10px);
}

.leaderboard-table {
  border-radius: 10px;
  width: 600px;
  border: 1px solid var(--white);
  margin: 20px 0 40px 0;
  background-color: var(--tablebackground);
}

.centered {
  margin: auto;
  text-align: center;
}

canvas {
  cursor: grab;
}

.avatar {
  margin: 0 auto;
  text-align: center;
}

.avatar img {
  --size: 150px;

  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  border: 1px solid var(--grey);
}

.avatar button {
  text-align: center;
  translate: 0 -50%;
}

.topic-plaque__main {
  padding: 20px;
  border-bottom: 1px solid var(--grey);
}

.topic-data {
  font-size: 13px;
  padding: 5px;
}

.topic-plaque {
  margin-top: 40px;
  padding: 20px 20px;
  background-color: #ffffff20;
  border-radius: 20px;
  margin-bottom: 20px;
}

.emotion-tags {
  display: flex;
  flex-direction: row;
}

.emotions-header {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.emotions-options {
  margin: 0 0 0 auto;
}

.emotion-tag {
  background-color: #ffffff50;
  padding: 5px;
  border-radius: 7px;
  margin: 0 15px 0 0;
}

.emotions-icon {
  cursor: pointer;
}

.emotions-icon:hover {
  color: var(--grey);
}

.topic-data__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.topic-text {
  margin-top: 50px;
}

.topic-options {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: flex-end;
}

.topic-option {
  padding: 0 10px;
}

.topic-option:hover {
  color: var(--grey);
  cursor: pointer;
}

.reply {
  display: inline-block;
  padding: 0 5px;
}
