:root {
    --white: #ffffff;
    --grey: #d3d3d3;
    --whiteinput: #ffffff50;
    --whiteheader:  #ffffff33;
    --tablebackground: #00000044;

    --theme-color: white;
    --theme-body-bg: url(../../public/background.jpeg) no-repeat fixed;
}

[data-theme=light] {
  --theme-color: black;
  --theme-body-bg: url(../../public/background-light.jpeg) no-repeat fixed;
}
