.wrapper {
    --white: #ffffff;
    --grey: #d3d3d3;
    --whiteinput: #ffffff50;
    --whiteheader:  #ffffff33;
    --tablebackground: #00000044;

    --theme-color: white;

    /*noinspection CssUnknownTarget*/
    --theme-body-bg: url(/background.jpeg) no-repeat fixed;
}

.wrapper[data-theme=light] {
  --theme-color: black;
  /*noinspection CssUnknownTarget*/
  --theme-body-bg: url(/background-light.jpeg) no-repeat fixed;
}
