.avatar {
	margin: 0 auto;
	text-align: center;
}

.avatar img {
	--size: 150px;

	width: var(--size)!important;
	height: var(--size)!important;
	border-radius: var(--size)!important;
	border: 1px solid var(--grey)!important;
}

.avatar button {
	text-align: center;
	translate: 0 -50%;
}
